.project-card {
    background-color: aliceblue;
    width: 50px;
    flex-basis: 20%;
  
    border: 1px solid #A084E8;
    margin: 10px;
    margin-top:10px;
    border-radius: 12px;
  }
  .project-card:hover {
    box-shadow: 0px 10px 20px #A084E8; 
  }
  .tag {
    padding: 4px 8px;
    background-color: #A084E8;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color:aliceblue;
  }
  .name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
  }
  .bold {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 1px;
  }
  .card__details button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: aliceblue;
    background-color: #A084E8;
    margin: 0 auto;
    display: block;
    cursor: pointer;
  }
  
  .card__details {
    padding: 16px 8px 16px 16px;
  }
  .card__details button:focus,.card__details 
  button:hover {
    background-color: #6F61C0;
    color: aliceblue;
  }
  
  .slideshow-container {
              position: relative;
          }
          .slideshow-img {
              width: 100%;
              border-radius: 10px 10px 0 0;
              height: 150px;
              object-fit: cover;
          }
          .prev, .next {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              padding: 8px;
              background-color: transparent;
              color: white;
              border: none;
              border-radius: 10px;
              cursor: pointer;
          }
  
          .prev {
              left: 0;
          }
  
          .next {
              right: 0;
          }
          .prev:hover, .next:hover {
              background-color: rgba(0,0,0,0.5);
          }
          #team-members, #faculty-members{
            list-style-type: none;
            padding-left: 0;
            font-size: 14px;
            color: rgb(86, 89, 93);
            
          }

#names{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#teamdiv{
  text-overflow: ellipsis;
white-space: nowrap;
-moz-white-space: nowrap;
overflow: hidden;
}

#mentordiv{
  text-align:end;
  text-overflow: ellipsis;
white-space: nowrap;
-moz-white-space: nowrap;
overflow: hidden;
}

#cardtags{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
