.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,.1);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}
.topbarContainer.active{
    background-color: rgba(255,255,255,.1);
    backdrop-filter: blur(3px);
}
.topbarLeft {
    flex: 3;
    color: #C5DFF8;
}
.blk{
    color: black;
}
.logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    /* color: white; */
    cursor: pointer;
}
  
.topbarCenter {
    flex: 5;
}
  
  
.topbarRight {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 150px;
    color: #C5DFF8;
    /* border: 1px solid black; */
}
  
.topbarLink {
      margin-right: 10px;
      margin-top: 150px;
      font-size: 14px;
      cursor: pointer;
}
#topbarLogin{
    margin-right: 10px;
    margin-top: 1px;
    font-size: 14px;
    cursor: pointer;
}
.topbarLinks{
    width: 80%;
    margin-right: -150px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
}
.topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

button.log {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 400;
    margin: 0 10px;
    width: 100px;
    height: 30px;
    padding: 2px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
}
button.log:hover{
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
}
.log {
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(104, 85, 224, 1);
  }